# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
__pycache__/


# Cuda
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.exp
# for debugging
*.pdb

#vscode settings
.vscode

#build folder for minicpp
fzn-minicpp/build/

#output folder, executable and io for the comparator
constraint_tester/out/
constraint_tester/config.txt
constraint_tester/parallel_input.mzn
constraint_tester/serial_input.mzn

#benchmark files
benchmark/out/
benchmark/config.txt
benchmark/parallel_input.mzn
benchmark/serial_input.mzn

#SM_alg
SM_alg/out/
SM_alg/config.txt